services:
  stirling-pdf:
    container_name: stirling-pdf
    image: docker.stirlingpdf.com/stirlingtools/stirling-pdf:latest
    ports:
      - ${STIRLING_PDF_PORT}:8080
    volumes:
      - trainingData:/usr/share/tessdata
      - extraConfigs:/configs
      - customFiles:/customFiles/
      - logs:/logs/
      - pipeline:/pipeline/
    environment:
      - DOCKER_ENABLE_SECURITY=false
      - LANGS=en_GB
    healthcheck:
      test: ["CMD-SHELL", "curl -f http://localhost:8080/api/v1/info/status | grep -q 'UP' && curl -fL http://localhost:8080/ | grep -qv 'Please sign in'"]
      interval: 5s
      timeout: 10s
      retries: 16
    labels:
      tsdproxy.enable: "true"
      tsdproxy.name: "stirling-pdf"

volumes:
  trainingData:
  extraConfigs:
  customFiles:
  logs:
  pipeline:

