services:
  beszel:
    image: henrygd/beszel:latest
    container_name: beszel
    restart: unless-stopped
    ports:
      - ${BESZEL_PORT}:8090
    volumes:
      - data:/beszel_data
      - ./beszel_socket:/beszel_socket
    healthcheck:
      test: ['CMD', '/beszel', 'health', '--url', 'http://localhost:8090']
      start_period: 5s
      interval: 120s
    labels:
      tsdproxy.enable: "true"
      tsdproxy.name: "beszel"

  beszel-agent:
    image: henrygd/beszel-agent:alpine
    devices:
       - /dev/sda:/dev/sda
       - /dev/nvme0:/dev/nvme0
       - /dev/nvme1:/dev/nvme1
    cap_add:
       - SYS_RAWIO # required for S.M.A.R.T. data
       - SYS_ADMIN # required for NVMe S.M.A.R.T. data
    container_name: beszel-agent
    restart: unless-stopped
    network_mode: host
    security_opt:
      - apparmor:unconfined   # Systemd Services
    volumes:
      - ./beszel_socket:/beszel_socket
      - /var/run/docker.sock:/var/run/docker.sock:ro    # Docker Services
      - /var/run/dbus/system_bus_socket:/var/run/dbus/system_bus_socket:ro  # Systemd Services
      - /mnt/storage/.beszel:/extra-filesystems/storage:ro    # Additional disk monitoring
    environment:
      LISTEN: /beszel_socket/beszel.sock
      KEY: ${AGENT_KEY}
    healthcheck:
      test: ['CMD', '/agent', 'health']
      interval: 120s

volumes:
  data:
